# Python Tips:

In [4]:
def example_method(mandatory_parameter,default_parameter="Default" , *args, **kwargs):
    print(f""" mandatory_parameter = {mandatory_parameter}{type(mandatory_parameter)}
          default_parameter = {default_parameter}{type(default_parameter)}
          args = {args} {type(args)} 
          kwargs = {kwargs} {type(kwargs)}""")

In [18]:
#example_method(mandatory_parameter=15)
#example_method(15)
#example_method(25,"Some String") 
#example_method(25,"String 1","String 2","String 3") 
#example_method(25,"String 1","String 2","String 3","String 4","String 5")
#example_method(25,"String 1","String 2","String 3",key1='a', key2='b')
#example_method(25,"String 1",key1='a', key2='b')
#example_method(key1='a',key2='b',mandatory_parameter=25,default_parameter="String 1")
#example_method(25,"String 1",key1='a', key2='b')

example_list = [1,2,3,4,5,6]
example_method(*example_list)

example_dict = {'a':'1', 'b':'2'}
example_method(*example_list, **example_dict)

 mandatory_parameter = 1
          <class 'int'>
          default_parameter = 2
          <class 'int'>
          args = (3, 4, 5, 6) <class 'tuple'>
          kwargs = {}
          <class 'dict'>
 mandatory_parameter = 1
          <class 'int'>
          default_parameter = 2
          <class 'int'>
          args = (3, 4, 5, 6) <class 'tuple'>
          kwargs = {'a': '1', 'b': '2'}
          <class 'dict'>

In [19]:
#module_1.py
def method_1():
    print("method 1")
    
class ClassA:
    def class_method_1(self):
        print("class_method_1 method 1")
# print(__name__)
if __name__ == '__main__':
    method_1()
ClassA().class_method_1()

method 1
class_method_1 method 1

In [21]:
#module_2.py
#import  module_1
#module_1.method_1()
#module_1.ClassA().class_method_1()

In [1]:
print(4.5 - 3.2)

1.2999999999999998

In [1]:
from decimal import Decimal
value1 = Decimal('4.5')
value2 = Decimal('3.2')
print(value1 - value2)

1.3

In [11]:
import math
#math.
print("Pi :" ,math.pi)
print("e :" ,math.e)
print(math.ceil(5.5))
#help(math.factorial)
#help(math.ceil)

Pi : 3.141592653589793
e : 2.718281828459045
6

In [44]:
from math import *
print(floor(5))
# from math import gcd
print(gcd(34,56))
print(floor(5))
print(floor(5))

5
2
5
5

In [54]:
numbers = [1,4,6,3,4] 
for number in numbers:
        print(number)
print("------")        
for index,number in enumerate(numbers):
     print(f'{index} - {number}')

1
4
6
3
4
------
0 - 1
1 - 4
2 - 6
3 - 3
4 - 4

# Vowels:

In [58]:
values = list('aeiou')
print(values)

for index, vowel in enumerate(values):
    print(f'{index} - {vowel}')

['a', 'e', 'i', 'o', 'u']
0 - a
1 - e
2 - i
3 - o
4 - u

In [15]:
import statistics
#statistics.
marks = [1, 6, 9, 23, 2]
print("Mean" ,statistics.mean(marks)) 
marks = [1, 6, 9, 23, 2, 7]
print("Median" ,statistics.median(marks)) 
print("median_low" ,statistics.median_low(marks)) 
print("variance" ,statistics.variance(marks))

Mean 8.2
Median 6.5
median_low 6
variance 63.2

# Dequeue:

In [21]:
from collections import deque
queue = deque(['Zero','One','Two'])
print(queue.pop())
queue.append('Three')
print(queue)
queue.appendleft('Minus One')
print(queue)

Two
deque(['Zero', 'One', 'Three'])
deque(['Minus One', 'Zero', 'One', 'Three'])

# Datetime:

In [33]:
import datetime
today_date = datetime.datetime.today()
print("Today Date : " ,today_date)
print("year : " ,today_date.year)
print("month : " ,today_date.month)
print("day : " ,today_date.day)
print("hour : " ,today_date.hour)
print("minute : " ,today_date.minute)
print("second : " ,today_date.second)

some_date = datetime.datetime(2019, 5, 27)
print("Today Date : " ,some_date)
print("Date" , some_date.date())
print("Time" , some_date.time())
some_date

Today Date :  2018-08-14 01:56:57.603265
year :  2018
month :  8
day :  14
hour :  1
minute :  56
second :  57
Today Date :  2019-05-27 00:00:00
Date 2019-05-27
Time 00:00:00

datetime.datetime(2019, 5, 27, 0, 0)

# DateTime Interval:

In [41]:
day = some_date
datetime.datetime(2018, 8, 14, 9, 5, 25, 234567)
print("Add Days : " , day + datetime.timedelta(days=90))
print("Add Weeks : " , day + datetime.timedelta(weeks=3))
print("Add Hours : " , day + datetime.timedelta(hours=48))

Add Days :  2019-08-25 00:00:00
Add Weeks :  2019-06-17 00:00:00
Add Hours :  2019-05-29 00:00:00

# UnPacking Tuple:

In [67]:
def create_ranga():
    return 'Ranga',1981,'India'  # When there is more than one variable then it is tuple

ranga = create_ranga()
type(ranga)
name, year, country = ranga
print(ranga)
print(len(ranga))
print("Tuple by Index :" , ranga[0],  ranga[1], ranga[2])
name,year,country

('Ranga', 1981, 'India')
3
Tuple by Index : Ranga 1981 India

('Ranga', 1981, 'India')

In [70]:
person = ('Ranga', 5, 'India')
print(type(person))
name, age, country = person
print(person)

<class 'tuple'>
('Ranga', 5, 'India')

# Tuple Types:

In [81]:
x = 0
y = 1
x, y = 0, 1
x, y = y, x
print(x,y)

x = (0)
type(x)

x = (0,)  # comma means there are other values as well
print(type(x))
x = 1,
print(type(x))

print(sum([12,34,56]))

1 0
<class 'tuple'>
<class 'tuple'>
102

# None Type:

In [88]:
None
print(type(None))

def email(subject, content, to , cc=None , bcc=None):
    print(f" {subject}, {content}, {to}, {cc}, {bcc}")
    
email("subject", "great work", "in28minutes@gmail.com")
email(None, "great work", "in28minutes@gmail.com",None, None)

<class 'NoneType'>
 subject, great work, in28minutes@gmail.com, None, None
 None, great work, in28minutes@gmail.com, None, None

In [89]:
var = None
if var is None :
    print ("do something")

do something

# Is Equality in Python:

In [94]:
class Student: pass   # pass is dummy class
student1 = Student()
student2 = Student()

print(id(student1)) 
print(id(student2))
print(student1 is student2)

student3 = student1
print(id(student3))

print(student1 is student3)
print(student1 == student2)
print(student1 == student3)

359318153088
359318153032
False
359318153088
True
False
True

In [99]:
class Student:
    def __init__(self, id):
        self.id = id
student1 = Student(1)
student2 = Student(2)
student3 = Student(1)
student4 = student1
print(id(student1))
print(id(student4))

print(student1 is student4)
print(student1 is student2)
print(student1 is student3)
print(student1 == student3)

359318785160
359318785160
True
False
False
False